{{ define "main" }}

<main class="page-main pa2 {{ .Kind }}" role="main">
  <section class="blog-intro mw7 center mb3">
    <h2 class="f2 f1-ns lh-solid tc center fw7">{{ .Title | markdownify }}</h2>
    {{ with .Description }}<p class="f6 f5-ns measure lh-copy tc center">{{ . | markdownify }}</p>{{ end }}
    <!--{{ with .Summary }}<p class="f6 f5-ns measure lh-copy tc center">{{ . | markdownify }}</p>{{ end }}-->
    {{ with .Summary }}<p class="f6 f5-ns measure lh-copy tc center" style="max-width: 650px; text-align: left;">{{ . | markdownify }}</p>{{ end }}
  </section>

{{ $research_interests := printf "/%s/%s" .Section "research_interests.md" }}
{{ with site.GetPage $research_interests }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt1">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb2-ns"><i class="fas fa-book pr3"></i>{{ .Title }}</h5>
      {{ range .Params.note }}
          <p class="f5">{{ .note_item | markdownify }}</p>
      {{ end }}

      {{ range .Params.research_interests }}
      <!--each item is a row-->
          {{ partial "cv/research_interests.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $industry_interests := printf "/%s/%s" .Section "industry_interests.md" }}
{{ with site.GetPage $industry_interests }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt1">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb2-ns"><i class="fas fa-briefcase pr3"></i>{{ .Title }}</h5>
      {{ range .Params.note }}
          <p class="f5">{{ .note_item | markdownify }}</p>
      {{ end }}

      {{ range .Params.industry_interests }}
      <!--each item is a row-->
          {{ partial "cv/industry_interests.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $academic_appointments := printf "/%s/%s" .Section "academic_appointments.md" }}
{{ with site.GetPage $academic_appointments }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt0">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb2-ns"><i class="fas fa-university pr3"></i>{{ .Title }}</h5>
      {{ range .Params.note }}
          <p class="f5">{{ .note_item | markdownify }}</p>
      {{ end }}

      {{ range .Params.academic_appointments }}
      <!--each item is a row-->
          {{ partial "cv/academic_appointments.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $education := printf "/%s/%s" .Section "education.md" }}
{{ with site.GetPage $education }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb2-ns"><i class="fas fa-graduation-cap pr3"></i>{{ .Title }}</h5>
      {{ range .Params.note }}
          <p class="f5">{{ .note_item | markdownify }}</p>
      {{ end }}

      {{ range .Params.education }}
      <!--each item is a row-->
          {{ partial "cv/education.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $industry_experience := printf "/%s/%s" .Section "industry_experience.md" }}
{{ with site.GetPage $industry_experience }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb2-ns"><i class="fas fa-suitcase pr3"></i>{{ .Title }}</h5>
      {{ range .Params.note }}
          <p class="f5">{{ .note_item | markdownify }}</p>
      {{ end }}

      {{ range .Params.industry_experience }}
      <!--each item is a row-->
          {{ partial "cv/industry_experience.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $publications := printf "/%s/%s" .Section "publications.md" }}
{{ with site.GetPage $publications }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb2-ns"><i class="fas fa-book-open pr3"></i>{{ .Title }}</h5>
      {{ range .Params.note }}
          <p class="f5">{{ .note_item | markdownify }}</p>
      {{ end }}

      {{ range .Params.publications }}
      <!--each item is a row-->
          {{ partial "cv/publications.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $workshops_given := printf "/%s/%s" .Section "workshops_given.md" }}
{{ with site.GetPage $workshops_given }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb2-ns"><i class="fas fa-laptop-code pr3"></i>{{ .Title }}</h5>
      {{ range .Params.note }}
          <p class="f5">{{ .note_item | markdownify }}</p>
      {{ end }}

      {{ range .Params.workshops_given }}
      <!--each item is a row-->
          {{ partial "cv/workshops_given.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $technical_skills := printf "/%s/%s" .Section "technical_skills.md" }}
{{ with site.GetPage $technical_skills }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb2-ns"><i class="fas fa-cogs pr3"></i>{{ .Title }}</h5>
      {{ range .Params.note }}
          <p class="f5">{{ .note_item | markdownify }}</p>
      {{ end }}

      {{ range .Params.technical_skills }}
      <!--each item is a row-->
          {{ partial "cv/technical_skills.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $certifications := printf "/%s/%s" .Section "certifications.md" }}
{{ with site.GetPage $certifications }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt0">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb2-ns"><i class="fas fa-medal pr3"></i>{{ .Title }}</h5>
      {{ range .Params.note }}
          <p class="f5">{{ .note_item | markdownify }}</p>
      {{ end }}

      {{ range .Params.certifications }}
      <!--each item is a row-->
          {{ partial "cv/certifications.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $accomplishments := printf "/%s/%s" .Section "accomplishments.md" }}
{{ with site.GetPage $accomplishments }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb2-ns"><i class="fas fa-trophy pr3"></i>{{ .Title }}</h5>
      {{ range .Params.note }}
          <p class="f5">{{ .note_item | markdownify }}</p>
      {{ end }}

      {{ range .Params.accomplishments }}
      <!--each item is a row-->
          {{ partial "cv/accomplishments.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $research_experience := printf "/%s/%s" .Section "research_experience.md" }}
{{ with site.GetPage $research_experience }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb2-ns"><i class="fas fa-atom pr3"></i>{{ .Title }}</h5>
      {{ range .Params.note }}
          <p class="f5">{{ .note_item | markdownify }}</p>
      {{ end }}

      {{ range .Params.research_experience }}
      <!--each item is a row-->
          {{ partial "cv/research_experience.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $teaching_experience := printf "/%s/%s" .Section "teaching_experience.md" }}
{{ with site.GetPage $teaching_experience }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb2-ns"><i class="fas fa-chalkboard-teacher pr3"></i>{{ .Title }}</h5>
      {{ range .Params.note }}
          <p class="f5">{{ .note_item | markdownify }}</p>
      {{ end }}

      {{ range .Params.teaching_experience }}
      <!--each item is a row-->
          {{ partial "cv/teaching_experience.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $languages := printf "/%s/%s" .Section "languages.md" }}
{{ with site.GetPage $languages }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb2-ns"><i class="fas fa-language pr3"></i>{{ .Title }}</h5>
      {{ range .Params.note }}
          <p class="f5">{{ .note_item | markdownify }}</p>
      {{ end }}

      {{ range .Params.languages }}
      <!--each item is a row-->
          {{ partial "cv/languages.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $popular_media := printf "/%s/%s" .Section "popular_media.md" }}
{{ with site.GetPage $popular_media }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt0">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb2-ns"><i class="fas fa-hashtag pr3"></i>{{ .Title }}</h5>
      {{ range .Params.note }}
          <p class="f5">{{ .note_item | markdownify }}</p>
      {{ end }}

      {{ range .Params.popular_media }}
      <!--each item is a row-->
          {{ partial "cv/popular_media.html" . }}
      {{ end }}
    </section>
{{ end }}

</main>

<aside class="page-sidebar" role="complementary">
  {{ partial "shared/sidebar-scaffold.html" . }}
  <!--{{ partial "shared/post-toc.html" . }}-->
  <!--{{ partial "shared/section-sidebar.html" . }}-->
</aside>

{{ end }}
