{{ define "main" }}

<main class="page-main pa4 {{ .Kind }}" role="main">
  <section class="blog-intro mw7 center mb4">
    <h2 class="f2 f1-ns lh-solid tc center fw4">{{ .Title | markdownify }}</h2>
    {{ with .Description }}<p class="f6 f5-ns measure lh-copy tc center">{{ . | markdownify }}</p>{{ end }}
    {{ with .Summary }}<p class="f6 f6-ns measure lh-copy tc center">{{ . | markdownify }}</p>{{ end }}
  </section>

{{ $research_interests := printf "/%s/%s" .Section "research_interests.md" }}
{{ with site.GetPage $research_interests }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb3-ns"><i class="fas fa-suitcase pr3"></i>{{ .Title }}</h5>
      {{ range .Params.research_interests }}
          {{ partial "cv/research_interests.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $academic_appointments := printf "/%s/%s" .Section "academic_appointments.md" }}
{{ with site.GetPage $academic_appointments }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb3-ns"><i class="fas fa-suitcase pr3"></i>{{ .Title }}</h5>
      {{ range .Params.academic_appointments }}
          {{ partial "cv/academic_appointments.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $education := printf "/%s/%s" .Section "education.md" }}
{{ with site.GetPage $education }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb3-ns"><i class="fas fa-graduation-cap pr3"></i>{{ .Title }}</h5>
      {{ range .Params.education }}
      <!--each item is a row-->
          {{ partial "cv/cv.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $experience := printf "/%s/%s" .Section "experience.md" }}
{{ with site.GetPage $experience }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb3-ns"><i class="fas fa-suitcase pr3"></i>{{ .Title }}</h5>
      {{ range .Params.experience }}
          {{ partial "cv/experience.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $accomplishments := printf "/%s/%s" .Section "accomplishments.md" }}
{{ with site.GetPage $accomplishments }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb3-ns"><i class="fas fa-trophy pr3"></i>{{ .Title }}</h5>
      {{ range .Params.item }}
      <!--each item is a row-->
          {{ partial "cv/cv.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $certification := printf "/%s/%s" .Section "certificates.md" }}
{{ with site.GetPage $certification }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb3-ns"><i class="fas fa-trophy pr3"></i>{{ .Title }}</h5>
      {{ range .Params.item }}
      <!--each item is a row-->
          {{ partial "cv/cv.html" . }}
      {{ end }}
    </section>
{{ end }}

{{ $consulting := printf "/%s/%s" .Section "consulting.md" }}
{{ with site.GetPage $consulting }}
<!--each page starts a new section-->
    <section class="blog-content mw7 center pt3">
      <h5 class="f4 fw7 tracked ttu lh-title mv3 bb group-content pb2 pb3-ns"><i class="fas fa-trophy pr3"></i>{{ .Title }}</h5>
      {{ range .Params.item }}
      <!--each item is a row-->
          {{ partial "cv/cv.html" . }}
      {{ end }}
    </section>
{{ end }}

</main>
<aside class="page-sidebar" role="complementary">
  {{ partial "shared/sidebar-scaffold.html" . }}
</aside>
{{ end }}
