#============================ Ömer Kara - Personal =============================
#=============================== Configuration =================================
#================================ config.toml ==================================

#===============================================================================
# Configuration: General Settings.
#
# This file is formatted using TOML syntax - learn more at https://learnxinyminutes.com/docs/toml/
# Each configuration section is defined by a name in square brackets (e.g. `[outputs]`).
#===============================================================================

#-------------------------------------------------------------------------------
# The URL of your site.
# End your URL with a `/` trailing slash, e.g. `https://example.com/`.
baseURL = "https://omerkara.netlify.app/" ## Base url of the website.

#-------------------------------------------------------------------------------
# Theme and language.
theme = "hugo-apero" ## Theme.
languageCode = "en" ## Language.

#-------------------------------------------------------------------------------
# Title and author.
title = "Ömer Kara, Ph.D." ## Title of the website.
author = "Ömer Kara" ## Author.

#-------------------------------------------------------------------------------
# Copyright line.
## Set to override the auto generated copyright using org info and now year.
## Current style: Copyright sign Ömer Kara (with email link). Middle Dot. Made with love, coffee and code.
copyright = '&copy; <script>document.write( new Date().getUTCFullYear() );</script> <a href="mailto: omer.kara.ylsy@gmail.com">Ömer Kara</a> <span class="middot-divider"></span> Made with <i class="fas fa-heart" style="color: #ff2a04"></i>, lots of <i class="fas fa-mug-hot" style="color: #6F4E37"></i>, and lines of <a href="https://github.com/omerkara/omer-kara-personal" target="_blank" rel="noopener"><i class="fas fa-code"></i></a>.'
#copyright = '&copy; <script>document.write( new Date().getUTCFullYear() );</script> <a href="mailto: omer.kara.ylsy@gmail.com">Ömer Kara</a> <span class="middot-divider"></span> Made with <i class="fas fa-heart" style="color: #ff2a04"></i>, <i class="fas fa-mug-hot" style="color: #6F4E37"></i>, and <a href="https://github.com/omerkara/omer-kara-personal" target="_blank" rel="noopener"><i class="fas fa-code"></i></a>.'

#-------------------------------------------------------------------------------
# Google analytics 4 ID.
googleAnalytics = "G-D9Z9H8XBQF" ## Google analytics 4 ID.

#-------------------------------------------------------------------------------
# Comments.
## There are two tools that can be used for comments: disqus and utterances.
## By default params.utterances/use_utterances argument is true and it makes use of utterances.
## To use disqus instead of utterances set params.utterances/use_utterances argument false.
disqusShortname = "https-omerkara-netlify-app" ## Disqus shortname given in the disquss account.

#-------------------------------------------------------------------------------
# Misc.
metaDataFormat = "yaml" ## Front matter meta-data format. Valid values: "toml", "yaml", or "json".
footnoteReturnLinkContents = "&#8617;" ## ↩. Text to display for footnote return links.
paginate = 5 ## Number of items to show in list format (blog, talk and/or projects).
preserveTaxonomyNames = true ## Preserving taxonomy names.
ignoreFiles = ["\\.Rmd$", "\\.Rmarkdown$", "_cache$", "\\.knit\\.md$", "\\.utf8\\.md$", "(^|/)renv$", "renv\\.lock$"] ## Exclude specific files from the content and data directories when rendering your site.
enableEmoji = true ## Enable Emoji emoticons support for page content; see the Emoji Cheat Sheet (https://www.webfx.com/tools/emoji-cheat-sheet/).

#-------------------------------------------------------------------------------
[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.goldmark.renderer]
    unsafe = true ## Enable user to embed HTML snippets in Markdown content.
    hardwraps = false ## By default, Goldmark ignores newlines within a paragraph. Set to true to render newlines as <br> elements.
  [markup.tableOfContents]
    startLevel = 1 ## The heading level, values starting at 1 (h1), to start render the table of contents.
    endLevel = 2 ## The heading level, inclusive, to stop render the table of contents.
    ordered = false ## Whether or not to generate an ordered list instead of an unordered list.
  [markup.highlight]
    style = "github" ## Good options: pygments and ardunio. See docs https://xyproto.github.io/splash/docs/.

#-------------------------------------------------------------------------------
[params]
  orgName = "Ömer Kara"
  orgLocal = ""
  description = "Personal Website of Dr. Ömer Kara"
  favicon = "/img/favicon-phoenix.ico" ## Favicon of the website which is shown on browser tab.
  logo = "/img/logo-phoenix.png" ## Logo of the website which is shown on the left-top. It is optional.
  logo_text = "Ömer Kara" ## Text on the right of the logo. It is optional. If logo and logo_text are both not used then title will be used.
  mainSections = ["industry", "research", "teaching", "certification"] ## Content sections to be previewed in the /about/ page.
  navallcaps = true

  #--------------------
  # Show/hide social icons in site header & footer.
  ## configure social icons and links below in [[params.social]]
  socialInHeader = false ## Social icons in the hearder.
  socialInFooter = true ## Social icons in the footer.

  #--------------------
  # Default image for social sharing and search engines.
  sharing_image = "/img/sharing-image-phoenix.png"
  twitter = "omerkara1" ## Twitter username (without @). Used when a visitor shares your site on Twitter.

  #--------------------
  # Color theme (built in).
  ## One of: forest, grayscale, peach, plum, poppy, sky, violet, water.
  theme = "" ## Good options: forest, sky, poppy, water.

  ## Or, leave theme empty & make your own palette. See docs at https://hugo-apero-docs.netlify.app/learn/color-themes/.
  ## The custom scss file must be in the assets/ folder add the filename name here,
    # without extension to use hex colors instead of named tachyons colors, include "hex" in filename.
  ## Added themes: fb-hex and octaevo-hex.
  custom_theme = "fb-hex" ## Good options: fb-hex, octaevo-hex.

  #--------------------
  # Embeded font-family (built in).
  ## Serif options: Fraunces, EB Garamond, Bitter.
  ## Sans-serif options: Commissioner, Atkinson Hyperlegible, Metropolis.
  ## If you import your own fonts, name them here too. See docs at https://hugo-apero.netlify.app/blog/fonts/.
  ## Added fonts: Petrona.
  customtextFontFamily = "Atkinson Hyperlegible" ## Good options: Commissioner and Atkinson Hyperlegible.
  customheadingFontFamily = "Petrona" ## Good options: Fraunces, EB Garamond, Petrona.

  ## Alternatively, leave the above options empty and select basic font options: sans-serif or serif.
  ## All alternatives are: sans-serif, serif, system-sans-serif, code, curier, helvetica, avenir,
    # athelas, georgia, times, bodoni, calisto, garamond, baskerville.
  ## For more http://tachyons.io/docs/typography/font-family/.
  ## For custom fonts to add see: https://hugo-apero-docs.netlify.app/learn/fonts/
  textFontFamily = "sans-serif"
  headingFontFamily = "sans-serif" ## Good options: sans-serif, athelas, curier, avenir.

  #--------------------
  # Comments.
  ## There are two tools that can be used for comments: disqus and utterances.
  ## By default params.utterances/use_utterances argument is true and it makes use of utterances.
  ## To use disqus instead of utterances set params.utterances/use_utterances argument false.

  ## Configuration of https://utteranc.es/ for comments.
  ## Theme options: boxy-light, dark-blue, github-dark-orange, github-dark, github-light, gruvbox-dark, icy-dark, photon-dark.
  [params.utterances]
    use_utterances = true ## true for utterances on github or false for disqus.
    repo_name = "omerkara/omer-kara-personal"
    issue_term = "Title" ## Uses either url, pathname, or title of the website page to start the issue on github gist.
    theme = "boxy-light" ## Good options: boxy-light, dark-blue, github-dark-orange, github-light.
    label = "comments :crystal_ball:"

  #--------------------
  # Configuration of math rendering.
  ## See docs https://hugo-apero.netlify.app/blog/evergreen/.
  [params.math]
    renderer = "katex" ## One of "mathjax" and "katex".

  #--------------------
  # Social icons may appear on homepage and in site header or footer.
  ## Configure show/hide above - add as many as you like below
  ## Icon pack "fab" includes brand icons, see: https://fontawesome.com/icons?d=gallery&s=brands&m=free
  ## Icon pack "fas" includes solid icons, see: https://fontawesome.com/icons?d=gallery&s=solid&m=free
  ## Icon pack "far" includes regular icons, see: https://fontawesome.com/icons?d=gallery&s=regular&m=free

  ## Academic Links.
  [[params.socialAcademic]] ## Avesis.
      icon      = "university"
      icon_pack = "fa"
      url       = "https://avesis.ogu.edu.tr/okara"
  [[params.socialAcademic]] ## ORCID.
      icon      = "orcid"
      icon_pack = "ai"
      url       = "https://orcid.org/0000-0001-7697-0319"
  [[params.socialAcademic]] ## Google Scholar.
      icon      = "google-scholar" ## Options: google-scholar, google-scholar-square.
      icon_pack = "ai"
      url       = "https://scholar.google.com/citations?user=K6oxNt0AAAAJ&hl=en"
  [[params.socialAcademic]] ## Clarivate (Web of Science Researcher ID).
      icon      = "researcherid-square"
      icon_pack = "ai"
      url       = "https://www.webofscience.com/wos/author/rid/AAZ-5471-2021"
  [[params.socialAcademic]] ## Scopus.
      icon      = "scopus-square"
      icon_pack = "ai"
      url       = "https://www.scopus.com/authid/detail.uri?authorId=60258085900"
  #[[params.socialAcademic]] ## Research Gate.
  #    icon      = "researchgate"
  #    icon_pack = "ai"
  #    url       = "https://www.researchgate.net/profile/Omer_Kara2"

  ## Social Links.
  #[[params.social]] ## Email.
  #   icon      = "envelope"
  #   icon_pack = "fa"
  #   url       = "mailto:omer.kara.ylsy@gmail.com"
  [[params.social]] ## Linkedin.
      icon      = "linkedin-in"
      icon_pack = "fab"
      url       = "https://www.linkedin.com/in/omer-kara"
  [[params.social]] ## DataCamp.
      icon      = "certificate" ## Options: code, certificate.
      icon_pack = "fas"
      url       = "https://www.datacamp.com/profile/okara"
  [[params.social]] ## Github.
      icon      = "github" ## Options: github, github-alt.
      icon_pack = "fab"
      url       = "https://github.com/omerkara"
  [[params.social]] ## Bitbucket.
      icon      = "bitbucket"
      icon_pack = "fab"
      url       = "https://bitbucket.org/karaomer/"
  #[[params.social]] ## Twitter.
  #   icon      = "twitter"
  #   icon_pack = "fab"
  #   url       = "https://twitter.com/omerkara1"
  #[[params.social]] ## Facebook.
  #   icon      = "facebook-square" # icon name without the 'fa-'
  #   icon_pack = "fab"
  #   url       = "https://www.facebook.com/omer.kara.777158"
  #[[params.social]] ## Instagram.
  #   icon      = "instagram" # icon name without the 'fa-'
  #   icon_pack = "fab"
  #   url       = "https://www.instagram.com/omr_kara/"
  [[params.social]] ## Akademi Ekonometri web site.
      icon      = "academia"
      icon_pack = "ai"
      url       = "https://akademiekonometri.netlify.app/"
  [[params.social]] ## Akademi Eknometri YouTube channel.
      icon      = "youtube"
      icon_pack = "fab"
      url       = "https://www.youtube.com/c/AkademiEkonometri"
  [[params.social]] ## RSS.
      icon      = "rss"
      icon_pack = "fas"
      url       = "/blog/index.xml"

#-------------------------------------------------------------------------------
# Relative URLs.
## See docs https://gohugo.io/content-management/urls/#relative-urls
relativeURLs = true

#-------------------------------------------------------------------------------
# Permalinks.
## After additional sections are added check the link about renaming sections:
  # https://hugo-apero-docs.netlify.app/start/section-config/?panelset1=list-grid-%25F0%259F%2593%25B7&panelset=blog-%25F0%259F%2593%25B7#renaming-sections
[permalinks]
  research = "/research/:slugorfilename/" ## "/section/:year-:slugorfilename/" can also be used.
  industry = "/industry/:slugorfilename/" ## "/section/:year-:slugorfilename/" can also be used.
  teaching = "/teaching/:slugorfilename/" ## "/section/:year-:slugorfilename/" can also be used.
  certification = "/certification/:slugorfilename/" ## "/section/:year-:slugorfilename/" can also be used.
  cv = "/cv/:slugorfilename/" ## "/section/:year-:slugorfilename/" can also be used.
#  blog = "/blog/:year-:month-:slugorfilename/" ## Template.
#  project = "/project/:year-:slugorfilename/" ## Template.
#  talk = "/talk/:year-:month-:slugorfilename/" ## Template.
#  collection = "/collection/:year-:slugorfilename/" ## Template.
#  publication = "/publication/:year-:slugorfilename/" ## Template.

#-------------------------------------------------------------------------------
# Taxonomies
[taxonomies]
  category = "categories"
  tag = "tags"
# series = "series" ## Currently not used.

#-------------------------------------------------------------------------------
# Menu.
[menu]
  ## Configure header.
  [[menu.header]]
    name = "About"
    title = "About Me"
    url = "/about/"
    weight = 1
  [[menu.header]]
    name = "Industry"
    title = "Industry"
    url = "/Industry/"
    weight = 2
  [[menu.header]]
    name = "Research"
    title = "Research"
    url = "/research/"
    weight = 3
  [[menu.header]]
    name = "Teaching"
    title = "Teaching"
    url = "/teaching/"
    weight = 4
  [[menu.header]]
    name = "Certification"
    title = "Certification"
    url = "/certification/"
    weight = 5
  [[menu.header]]
    name = "CV"
    title = "CV"
    url = "/CV/"
    weight = 6
#  [[menu.header]] ## Template.
#    name = "Blog"
#    title = "Meeting People Where They R"
#    url = "/blog/"
#    weight = 10
#  [[menu.header]] ## Template.
#    name = "Projects"
#    title = "Project Portfolio"
#    url = "/project/"
#    weight = 11
#  [[menu.header]] ## Template.
#    name = "Talks"
#    title = "Invited Talks"
#    url = "/talk/"
#    weight = 12
#  [[menu.header]] ## Template.
#    name = "Collection"
#    title = "Collection"
#    url = "/collection/"
#    weight = 13

  ## Configure footer.
  [[menu.footer]]
    name = "License"
    title = "License Details"
    url = "/—misc/license/"
    weight = 1
  [[menu.footer]]
    name = "Contact"
    title = "Contact form"
    url = "/contact/"
    weight = 2
  [[menu.footer]]
    name = "RSS"
    title = "Subscribe via RSS"
    url = "/blog/index.xml"
    weight = 3

#-------------------------------------------------------------------------------
# Privacy.
## see https://gohugo.io/about/hugo-and-gdpr/
[privacy]
  [privacy.disqus]
    disable = false
  [privacy.googleAnalytics]
    disable = false
    anonymizeIP = true
    respectDoNotTrack = true
    useSessionStorage = false
  [privacy.instagram]
    disable = false
    simple = true
  [privacy.twitter]
    disable = false
    enableDNT = true
    simple = false
  [privacy.vimeo]
    disable = false
    enableDNT = true
    simple = true
  [privacy.youtube]
    disable = false
    privacyEnhanced = true

#-------------------------------------------------------------------------------
