{{ define "main" }}
<main class="page-main pa4" role="main">
  <section class="page-content mw8 center">
    <div class="flex-ns">
      <div class="w-50-ns pr4-ns">
        <h1 class="f2 f1-ns measure lh-solid">{{ .Title }}</h1>
        <p class="f5 w-90-ns measure lh-copy">{{ .Description | markdownify }}</p>
        {{ if .Params.show_social_links }}
        <p class="w-90-ns measure mv4 lh-copy">
          {{ partial "shared/social-links.html" . }}
        </p>
        {{ end }}
      </div>
      <div class="w-50-ns mt3">
        {{ partial "shared/contact-form.html" . }}
      </div>
    </div>
  </section>
</main>
{{ end }}
